<% provide(:title, 'Edit Deliverable') %>
<h1>Edit Deliverable</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for ([@client, @project, @deliverable]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h2>Project: <%= @project.name %></h2>

      <%= f.hidden_field :client_id, :value => params[:client_id] %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.label :completed_date %>
      <%= f.date_field :completed_date %>

      <!-- USER ID -->

      <%= f.label :link %>
      <%= f.text_field :link %>

      <%= f.submit "Edit deliverable", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>