<li>
	<!-- <%= check_box_tag 'milestone_ids[]', milestone.id %> -->
	<span class="milestone-name"><%= link_to milestone.name, milestone %></span>
	<% if milestone.end? %>
		| <%= time_tag(milestone.end) %> |
		<% if milestone.end >= DateTime.now %>upcoming: 
		<% else %>overdue: 
		<% end %>
		<strong><%= distance_of_time_in_words_to_now(milestone.end) %></strong>


	<% end %>
	<span class="small-link"> | <%= link_to "New Checkpoint", new_milestone_checkpoint_path(:milestone_id => milestone.id), class: "project-button" %></span>

	<%= form_tag("/milestones/" + milestone.id.to_s + "/checkpoints/complete/") do %>

	<ul class="checkpoints">
		<%= render milestone.checkpoints %>
	</ul>

	<%= submit_tag "Mark Complete", class: "project-button" %>

	<% end %>
</li>