<% provide(:title, 'Edit Milestone') %>
<h1>Edit Milestone</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for ([@client, @project, @milestone]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <h2>Project: <%= @client.name %></h2>
        <h2>Milestone: <%= @project.name %></h2>

        <%= f.hidden_field :client_id, :value => params[:client_id] %>
        <%= f.hidden_field :project_id, :value => params[:project_id] %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :start_date %>
        <%= f.date_field :start_date %>

        <%= f.label :end_date %>
        <%= f.date_field :end_date %>

        <%= f.label :user_id, "Owner" %>
        <%= collection_select(:milestone, :user_id, User.all, :id, :name, :prompt => "--- Choose ---") %>

        <%= f.submit "Edit milestone", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>