<% provide(:title, 'New Milestone') %>
<h1>New Milestone</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for ([@client, @project, @milestone]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <h2>Client: <%= @client.name %></h2>
        <h2>Project: <%= @project.name %></h2>

        <%= f.hidden_field :client_id, :value => params[:client_id] %>
        <%= f.hidden_field :project_id, :value => params[:project_id] %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :estimated_date %>
        <%= f.date_field :estimated_date %>

        <%= f.label :actual_date %>
        <%= f.date_field :actual_date %>

        <%= f.label :estimated_time %>
        <%= f.text_field :estimated_time %>

        <%= f.label :actual_time %>
        <%= f.text_field :actual_time %>

        <%= f.label :notes %>
        <%= f.text_field :notes %>

        <%= f.label :manual_position, "Insert before:" %>
        <%= collection_select(:manual_position, :id, Milestone.where('project_id = ' + params[:project_id]).all, :id, :name) %>

        <%= f.label :phase %>
        <%= collection_select(:phase, :id, Milestone.select('DISTINCT(phase)'), :phase, :phase) %>

        <%= f.submit "Create milestone", class: "btn btn-large btn-primary" %>

        <% end %>
    </div>
</div>