<% provide(:title, @milestone.name) %>
<div class="row">
  
    <div class="span12">
        <section>
            <h1>Client: <%= @client.name %></h1>
            <h2>Project: <%= @project.name %></h2>
            <h3>Milestone: <%= @milestone.name %></h3>
            
            <p>
                <%= link_to "edit", edit_client_project_milestone_path(@client.id, @milestone.project_id, @milestone) %> | 
                <%= link_to "delete", client_project_milestone_path(@client.id, @milestone.project_id, @milestone),method: :delete, data: { confirm: "You sure?" }, title: @milestone.name %>
            </p>
            
        </section>
    </div>
</div>