<% provide(:title, 'Edit Checkpoint') %>
<h1>Edit Checkpoint</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for ([@project, @milestone, @checkpoint]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <h2>Project: <%= @project.name %></h2>
        <h2>Milestone: <%= @milestone.name %></h2>

        <%= f.hidden_field :project_id, :value => params[:project_id] %>
        <%= f.hidden_field :milestone_id, :value => params[:milestone_id] %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :start_date %>
        <%= f.date_field :start_date %>

        <%= f.label :end_date %>
        <%= f.date_field :end_date %>

        <%= f.label :user_id, "Owner" %>
        <%= collection_select(:checkpoint, :user_id, User.all, :id, :name, :prompt => "--- Choose ---") %>

        <%= f.submit "Edit checkpoint", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>