<% provide(:title, @checkpoint.name) %>
<div class="row">
  
  <div class="span12">
  	<section>
  		<h1><%= @checkpoint.name %></h1>

  		<%= link_to "delete", project_milestone_checkpoint_path(@project.id, @checkpoint.milestone_id, @checkpoint),
                    method: :delete, 
  									data: { confirm: "You sure?" }, 
  									title: @checkpoint.name %>

  		<p>Project: <%= @project.name %></p>
      <p>Milestone: <%= @milestone.name %></p>
  		<p>Start: <%= @checkpoint.start %></p>
      <p>End: <%= @checkpoint.end %></p>
  	</section>
    
  </div>
</div>