<% provide(:title, "Edit client") %>
<h1>Update client</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@client) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :contact_name %>
      <%= f.text_field :contact_name %>

      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %>

      <%= f.label :contact_phone %>
      <%= f.text_field :contact_phone %>

      <%= f.label :contact_address %>
      <%= f.text_field :contact_address %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>