<!-- <%= check_box_tag 'project_ids[]', project.id %> -->
<h2>
	<%# link_to project.client.name, client_path(project.client_id) %>
	<%# link_to project.name, client_project_path(project.client_id, project) %>
	<%= project.client.name %>
	<%= project.name %>
	<span class="utility-nav">	
	<%= link_to "New Project", new_client_project_path(:client_id => project.client.id), class: "client-button" %>
	| <%= link_to "New Milestone", new_client_project_milestone_path(:client_id => project.client_id, :project_id => project.id), class: "client-button" %>
	| <%= link_to "New Asset", new_client_project_asset_path(:client_id => project.client_id, :project_id => project.id), class: "client-button" %>
	| <%= link_to "New Deliverable", new_client_project_deliverable_path(:client_id => project.client_id, :project_id => project.id), class: "client-button" %>
	| <a href="#" class="collapse client-button">Collapse</a>
	</span>

</h2>

<div class="project-info">
	<span class="project-stats">
		<p><span class="project-label">Estimated completion date:</span> <%= project.milestones.last.estimated_date.strftime('%m/%d/%Y') %></p>
		<p><span class="project-label">Estimated hours remaining:</span> <%= project.milestones.where(:complete => false).sum('estimated_time') %></p>
	</span>

	<p><span class="project-label">Next Milestone:</span> 
		<% if project.milestones.where(:complete => false).present? %>
		<%= project.milestones.where(:complete => false).first.name %>, due <%= project.milestones.where(:complete => false).first.estimated_date.strftime('%m/%d/%Y') if project.milestones.where(:complete => false).first.estimated_date.present? %>
		<% else %>
		You're done!
		<% end %>
	</p>
	<p><span class="project-label">Next Asset:</span> <%= project.assets.where(:received => false).first.name if project.assets.present? %></p>
	<p><span class="project-label">Next Deliverable:</span> <%= project.deliverables.where(:complete => false).first.name %></p>


</div>

<% if project.end_date? %>
	<span class="project-info">
		| Expected due date: <%= project.end_date.strftime('%m/%d/%Y') %> |
		<% if project.end_date >= DateTime.now %>upcoming: 
		<% else %>overdue: 
		<% end %>
		<strong><%= distance_of_time_in_words_to_now(project.end_date) %></strong>
	</span>
<% end %>


<div class="row">

	<ul class="nav phases">

		<!-- PHASES  -->
		<% phases = ['Discovery','Design','Refine','Finalize'] %>
		<% phases.each do |ph| %>
		<li class="span2 <% if project.milestones.where(:complete => false, :phase => ph).count == 0 %>phase-complete<% end %>">
			<a href="#<%= ph %><%= project.id %>" data-target="#<%= ph %><%= project.id %>" data-toggle="tab"><%= ph %></a>
		</li>
		<% end %>

		<!-- ASSETS -->
		<li class="span2">
			<a class="no-border" href="#Assets<%= project.id %>" data-target="#Assets<%= project.id %>" data-toggle="tab">Assets</a>
		</li>

		<!-- DELIVERABLES -->
		<li class="span2">
			<a class="no-border" href="#Deliverables<%= project.id %>" data-target="#Deliverables<%= project.id %>" data-toggle="tab">Deliverables</a>
		</li>


	</ul>

	<div class="tab-content">
		
		<!-- PHASES  -->
		<% Milestone.select('distinct(phase)').each do |ph| %>
		<div class="tab-pane" id="<%= ph.phase %><%= project.id %>">
			<%= render project.milestones.where('phase = ?', ph.phase) %>
		</div>
		<% end %>

		<!-- ASSETS  -->
		<div class="tab-pane" id="Assets<%= project.id %>">	
			<%= render project.assets %>
		</div>
		
		<!-- DELIVERABLES -->
		<div class="tab-pane" id="Deliverables<%= project.id %>">
			<%= render project.deliverables %>
		</div>
		
	</div>

</div>
	