<% provide(:title, 'New Project') %>
<h1>New Project for <%= @client.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for ([@client, @project]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :client_id, :value => params[:client_id] %>

      <%= f.label :project_type, "Name" %>
      <%= select(:project, :project_type, options_for_select( [ ['Branding 1','Branding 1'], ['Branding 2','Branding 2'], ['Print 1','Print 1'], ['Print 2','Print 2'], ['Web Design 1','Web Design 1'], ['Web Design 2','Web Design 2'], ['Web Development 1','Web Development 1'], ['Web Development 2','Web Development 2'], ['Custom','Custom'] ]), {:prompt => '-- Choose --'} ) %>

      <%= f.text_field :name %>

      <%= f.label :project_number %>
      <%= f.text_field :project_number %>

      <%= f.label :start_date %>
      <%= f.date_field :start_date %>

      <%= f.label :end_date %>
      <%= f.date_field :end_date %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <!-- total time spent -->

      <%= f.submit "Create project", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>