<% provide(:title, @project.name) %>
<div class="row">
  
    <div class="span12">
        <section>
  		    <h1>Client: <%= @client.name %></h1>
          <h1>Project: <%= @project.name %></h1>

  		    <h3>
                <%= link_to "edit", edit_client_project_path(@client.id, @project.id) %> |
                <%= link_to "delete", client_project_path, method: :delete, 
  									 data: { confirm: "You sure?" }, 
  									 title: @project.name %>
            </h3>

      		<p><%= @project.client_id %></p>
      		<p><%= @project.end_date %></p>
      		<p><%= @project.project_type %></p>

          <!-- total time spent -->
      	
        </section>
    </div>
</div>