<% provide(:title, 'Edit Asset') %>
<h1>Edit Asset</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for ([@project, @milestone, @asset]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h2>Project: <%= @milestone.project.name %></h2>
      <h2>Milestone: <%= @milestone.name %></h2>

      <%= f.hidden_field :milestone_id, :value => params[:milestone_id] %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.label :expected_date %>
      <%= f.date_field :expected_date %>

      <%= f.label :link %>
      <%= f.text_field :link %>

      <%= f.submit "Edit asset", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>