<% provide(:title, 'New Asset') %>
<h1>New Asset</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for ([@client, @project, @asset]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <h2>Project: <%= @project.client.name %></h2>
        <h2>Milestone: <%= @project.name %></h2>

        <%= f.hidden_field :project_id, :value => params[:project_id] %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :notes %>
        <%= f.text_field :notes %>

        <%= f.label :expected_date %>
        <%= f.date_field :expected_date %>

        <%= f.label :link %>
        <%= f.text_field :link %>

        <%= f.submit "Create asset", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>